@page
@model PumpFit_Stock.Pages.IndexModel
@{
    Layout = "_Layout";
}

<div class="Mensagem">
    <h1>Bem Vindo</h1>
    <h2>Gerencie e acompanhe o seu estoque</h2>
</div>

<div class="button-container">
    <a href="/estoque" class="start-button">Comece Agora</a>
</div>

